<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Yadro</title>
  <link rel="stylesheet" href="/css/signup.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <!-- Navbar including -->
  <%- include('../layouts/header-without-user.ejs') %>

  <main class="container mx-auto px-4 py-8 flex">
    <div class="w-1/2">
      <img src="/images/signup.png" alt="Shopping concept" class="w-full h-auto">
    </div>
    <div class="w-1/2 pl-8">
      <h1 class="text-3xl font-bold mb-2">Log In</h1>
      <p class="text-gray-600 mb-8">Log into your existing account</p>

      <!-- Error message section -->
      <% if (error_msg.length > 0 ) { %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-6" role="alert" id="error-message">
        <strong class="font-bold">Error!</strong>
        <span class="block sm:inline"><%= error_msg %></span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
          <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" onclick="document.getElementById('error-message').style.display='none'">
            <title>Close</title>
            <path d="M14.348 5.652a1 1 0 00-1.414-1.414L10 7.172 7.066 4.238a1 1 0 10-1.414 1.414L8.586 10l-2.934 2.934a1 1 0 101.414 1.414L10 12.828l2.934 2.934a1 1 0 101.414-1.414L11.414 10l2.934-2.934z" />
          </svg>
        </span>
      </div>
      <% } %>

      <% if (success_msg.length > 0 ) { %>
      <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-6" role="alert" id="error-message">
        <strong class="font-bold">Success!</strong>
        <span class="block sm:inline"><%= success_msg %></span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
          <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" onclick="document.getElementById('error-message').style.display='none'">
            <title>Close</title>
            <path d="M14.348 5.652a1 1 0 00-1.414-1.414L10 7.172 7.066 4.238a1 1 0 10-1.414 1.414L8.586 10l-2.934 2.934a1 1 0 101.414 1.414L10 12.828l2.934 2.934a1 1 0 101.414-1.414L11.414 10l2.934-2.934z" />
          </svg>
        </span>
      </div>
      <% } %>


      <form action="/login" method="post" autocomplete="off">
        <input name="email" type="text" placeholder="Email or Phone Number" class="custom-input">
        <input name="password" type="password" placeholder="Password" class="custom-input">
        <button type="submit" class="create-account-btn w-full mb-4">Log In</button>
      </form>

      <p class="text-center text-gray-600">
        Don't have an Account? <a href="/signup" class="login-link">Sign up</a>
      </p>
    </div>
  </main>



  <!-- footer including -->
  <%- include('../layouts/footer.ejs') %>
</body>

</html>