<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTP Verify - Yadro</title>
  <link rel="icon" href="/images/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/home-without-user.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
  <%- include('../layouts/header-without-user.ejs') %>
  <main class="flex  container justify-between items-center p-8">
    <div class="w-1/2">
      <!-- Placeholder for the 3D character image -->
      <img width="660" src="/images/otp-verify.png" alt="otp-verify logo">
    </div>
    <div class="w-1/2">
      <h1 class="text-3xl font-bold mb-4">OTP Verification</h1>

      <% if (error_msg.length > 0 ) { %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-6" role="alert" id="error-message">
        <strong class="font-bold">Error!</strong>
        <span class="block sm:inline"><%= error_msg %></span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
          <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" onclick="document.getElementById('error-message').style.display='none'">
            <title>Close</title>
            <path d="M14.348 5.652a1 1 0 00-1.414-1.414L10 7.172 7.066 4.238a1 1 0 10-1.414 1.414L8.586 10l-2.934 2.934a1 1 0 101.414 1.414L10 12.828l2.934 2.934a1 1 0 101.414-1.414L11.414 10l2.934-2.934z" />
          </svg>
        </span>
      </div>
      <% } %>

      <% if (success_msg.length > 0 ) { %>
      <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-6" role="alert" id="error-message">
        <strong class="font-bold">Sent!</strong>
        <span class="block sm:inline"><%= success_msg %></span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
          <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" onclick="document.getElementById('error-message').style.display='none'">
            <title>Close</title>
            <path d="M14.348 5.652a1 1 0 00-1.414-1.414L10 7.172 7.066 4.238a1 1 0 10-1.414 1.414L8.586 10l-2.934 2.934a1 1 0 101.414 1.414L10 12.828l2.934 2.934a1 1 0 101.414-1.414L11.414 10l2.934-2.934z" />
          </svg>
        </span>
      </div>
      <% } %>

      <form action="/verify-otp" method="post" onsubmit="return validateOtpForm()">
        <input id="otp" name="otp" type="text" placeholder="Enter OTP here..." class="w-full p-2 mb-4 border rounded">
        <button class="w-full bg-red-500 text-white py-2 rounded" type="submit">Verify OTP</button>

      </form>
      <form action="/resend-otp" method="post" class="mt-4 text-center">
        <button id="resend-otp" style="display: none;" onclick="resendOtp()" class="w-full text-gray-600 mt-4">Resend OTP</button>
      </form>
      <div class="mt-4 text-center">

        <span id="timer" class="inline-flex items-center justify-center bg-black text-white rounded w-16 h-10">
          <strong></strong>
        </span>
      </div>
    </div>

  </main>
  <%- include('../layouts/footer.ejs') %>

  <script>
    let timeLeft = 20;

    function formatTime(seconds) {
      const minutes = Math.floor(seconds / 60);
      const sec = seconds % 60;
      return `${minutes} : ${sec < 10 ? '0' : ''}${sec}`;
    }

    function updateTimer() {
      const timerElement = document.getElementById("timer").getElementsByTagName("strong")[0];
      const resendButton = document.getElementById("resend-otp");

      if (timeLeft >= 0) {
        timerElement.textContent = formatTime(timeLeft);

        if (timeLeft === 10) {
          resendButton.style.display = 'block';
        }
        timeLeft--;
      } else {
        clearInterval(countdown);
        timerElement.textContent = "0 : 00";
      }
    }
    const countdown = setInterval(updateTimer, 1000);

    function validateOtpForm() {
      const InputOtp = document.getElementById('otp').value;
      $.ajax({
        type: 'POST',
        url: '/verify-otp',
        contentType: 'application/json',
        data: JSON.stringify({
          otp: InputOtp
        }),
        success: function(res) {
          if (res.success) {
            Swal.fire({
              icon: 'success',
              title: 'OTP Verified!',
              text: 'Your OTP has been successfully verified.',
              showConfirmButton: false,
              timer: 1500
            }).then(() => {
              window.location.href = res.redirectUrl;
            });
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Not Verified Try again !!!',
              text: res.message,
              showConfirmButton: false,
              timer: 1500
            })
          }
        },
        error: function() {
          Swal.fire({
            icon: 'error',
            title: "Invalid OTP !!!",
            text: 'Try again ... !!!'
          })
        }
      })
      return false
    }

    function resendOtp() {
      // Clear the existing countdown interval
      clearInterval(countdown);

      // Reset the timer
      timeLeft = 20; // Reset the time back to 20 seconds or the initial value
      updateTimer(); // Immediately update the UI to reflect the reset timer

      // Start the countdown again
      countdown = setInterval(updateTimer, 1000);


      $.ajax({
        type: 'POST',
        url: 'resend-otp',
        success: function(res) {
          if (res.success) {
            Swal.fire({
              icon: 'success',
              title: "OTP Resend Successfully",
              showConfirmButton: false,
              timer: 1500,
            });
          } else {
            Swal.fire({
              icon: 'error',
              title: 'OTP Send Failed, Try Again...',
              showConfirmButton: false,
              timer: 1500
            });
          }
        }
      });
    }
  </script>


</body>

</html>