<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/signup.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <!-- Navbar including -->
  <%- include('../layouts/header-without-user.ejs') %>

  <main class="container mx-auto px-4 py-8 flex">
    <div class="w-1/2">
      <img src="/images/signup.png" alt="Shopping concept" class="w-full h-auto">
    </div>
    <div class="w-1/2 pl-8">
      <h1 class="text-3xl font-bold mb-2">Create an account</h1>
      <p class="text-gray-600 mb-8">Enter your details below</p>
      <form>
        <form>
          <input type="text" placeholder="Name" class="custom-input">
          <input type="text" placeholder="Email or Phone Number" class="custom-input">
          <input type="password" placeholder="Password" class="custom-input">
          <input type="password" placeholder="Confirm Password" class="custom-input">
          <button type="submit" class="create-account-btn w-full mb-4">Create Account</button>
        </form>
        <button class="google-btn w-full mb-6">
          <img src="/images/Icon-Google.png" alt="Google" class="w-5 h-5 mr-3">
          Sign up with Google
        </button>
        <p class="text-center text-gray-600">
          Already have an account? <a href="/login" class="login-link">Log in</a>
        </p>
    </div>
  </main>


  <!-- footer including -->
  <%- include('../layouts/footer.ejs') %>
</body>

</html>